<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kurs">
            <h2><span jhiTranslate="kurssystemImstApp.kurs.detail.title">Kurs</span> {{kurs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kurssystemImstApp.kurs.kursname">Kursname</span></dt>
                <dd>
                    <span>{{kurs.kursname}}</span>
                </dd>
                <dt><span jhiTranslate="kurssystemImstApp.kurs.kursart">Kursart</span></dt>
                <dd>
                    <span>{{kurs.kursart}}</span>
                </dd>
                <dt><span jhiTranslate="kurssystemImstApp.kurs.kurseinheit">Kurseinheit</span></dt>
                <dd>
                    <span>{{kurs.kurseinheit}}</span>
                </dd>
                <dt><span jhiTranslate="kurssystemImstApp.kurs.kurskapazitaet">Kurskapazitaet</span></dt>
                <dd>
                    <span>{{kurs.kurskapazitaet}}</span>
                </dd>
                <dt><span jhiTranslate="kurssystemImstApp.kurs.lehrer">Lehrer</span></dt>
                <dd>
                    <div *ngIf="kurs.lehrer">
                        <a [routerLink]="['/lehrer', kurs.lehrer?.id, 'view']">{{kurs.lehrer?.lehrername}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kurs', kurs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
