<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-schueler-heading" jhiTranslate="kurssystemImstApp.schueler.home.createOrEditLabel">Create or edit a Schueler</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!schueler.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="schueler.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kurssystemImstApp.schueler.schuelername" for="field_schuelername">Schuelername</label>
                    <input type="text" class="form-control" name="schuelername" id="field_schuelername"
                        [(ngModel)]="schueler.schuelername" required/>
                    <div [hidden]="!(editForm.controls.schuelername?.dirty && editForm.controls.schuelername?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.schuelername?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kurssystemImstApp.schueler.klasse" for="field_klasse">Klasse</label>
                    <input type="text" class="form-control" name="klasse" id="field_klasse"
                        [(ngModel)]="schueler.klasse" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kurssystemImstApp.schueler.geburtsdatum" for="field_geburtsdatum">Geburtsdatum</label>
                    <div class="input-group">
                        <input id="field_geburtsdatum" type="text" class="form-control" name="geburtsdatum" ngbDatepicker  #geburtsdatumDp="ngbDatepicker" [(ngModel)]="schueler.geburtsdatum"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="geburtsdatumDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="kurssystemImstApp.schueler.kurs" for="field_kurs">Kurs</label>
                    <select class="form-control" id="field_kurs" multiple name="kurs" [(ngModel)]="schueler.kurs">
                        <option [ngValue]="getSelected(schueler.kurs, kursOption)" *ngFor="let kursOption of kurs; trackBy: trackKursById">{{kursOption.kursname}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
